<%= form_with(model: [@comic, @figure]) do |form| %>
<%#= form_for([@comic, @figure]) do |form| %>
  <% if @figure.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@figure.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @figure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Sidebar">
    <div class="comicsHeader">
      <div class="comicsHeaderBacklink"><%= link_to '< To comics', comics_path %></div>
      <div class="comicsHeaderName"><%= link_to @comic.name, edit_comic_path(@comic) %></div>
    </div>

    <div class="formName">
      Figure
    </div>

    <div class="field">
      <%= form.label :frame_id %>
      <%#= form.text_field :frame_id %>
      <%= select("figure", "frame_id", @comic.frames.all.collect { |a| [a.frame, a.id] }, { include_blank: true }) %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :figure %>
    </div>

    <div class="fieldTwoInLine">
      <div class="field">
        <%= form.label :x %>
        <%= form.number_field :x %>
      </div>

      <div class="field">
        <%= form.label :y %>
        <%= form.number_field :y %>
      </div>
    </div>

    <div class="fieldTwoInLine">
      <div class="field">
        <%= form.label :width %>
        <%= form.number_field :width %>
      </div>

      <div class="field">
        <%= form.label :height %>
        <%= form.number_field :height %>
      </div>
    </div>

    <div class="fieldTwoInLine">
      <div class="field">
        <%= form.label :border_width %>
        <%= form.number_field :border_width %>
      </div>

      <div class="field">
        <%= form.label :border_radius %>
        <%= form.number_field :border_radius %>
      </div>
    </div>

    <div class="field">
      <%= form.label :border_color %>
      <%= form.text_field :border_color %>
    </div>

    <div class="field">
      <%= form.label :background_color %>
      <%= form.text_field :background_color %>
    </div>

    <div class="field">
      <%= form.label :layer %>
      <!-- <%= form.number_field :z_index %> -->
      <%= form.number_field :z_index, in: 1..(@comic.figures.count + @comic.speeches.count + @comic.images.count) %>
      max value: <%= @comic.figures.count + @comic.speeches.count + @comic.images.count %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
  <section class="ComicsArtbord">
    <%= render @comic.figures %>
    <%= render @comic.bubbles %>
    <%= render @comic.speeches %>
    <%= render @comic.frames %>
    <%= render @comic.images %>
  </section>
<% end %>
