<p id="notice"><%= notice %></p>

 <p>
   <strong>Title:</strong>
   <%= @shape.title %>
 </p>

 <p>
   <strong>Link:</strong>
   <%= @shape.link %>
 </p>

 <%= link_to 'Edit', edit_shape_path(@shape) %> |
 <%= link_to 'Back', shapes_path %>
