<p id="notice"><%= notice %></p>

<p>
  <strong>Figure:</strong>
  <%= @bubble.figure %>
</p>

<!-- <p>
  <strong>Text:</strong>
  <%#= @speech.text %>
</p> -->

<p>
  <strong>X:</strong>
  <%= @bubble.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @bubble.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @bubble.shape_width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @bubble.shape_height %>
</p>

<p>
   <strong>shape:</strong>
   <%= @bubble.shape.title %>
 </p>

<%= link_to 'Edit', edit_bubble_path(@bubble) %> |
<%= link_to 'Back', bubbles_path %>
