<p id="notice"><%= notice %></p>

<p>
  <strong>Figure:</strong>
  <%= @bubble.figure %>
</p>

<p>
  <strong>X:</strong>
  <%= @bubble.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @bubble.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @bubble.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @bubble.height %>
</p>

<p>
  <strong>Border-width:</strong>
  <%= @bubble.border-width %>
</p>

<p>
  <strong>Border-color:</strong>
  <%= @bubble.border-color %>
</p>

<p>
  <strong>Background-color:</strong>
  <%= @bubble.background-color %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @bubble.shape %>
</p>

<%= link_to 'Edit', edit_bubble_path(@bubble) %> |
<%= link_to 'Back', bubbles_path %>
