<div class="comicPreview">
  <a class="comicPreviewContainer" href="<%= url_for comic_path(comic) %>">
    <div class="comicPreviewImage"></div>
    <div class="comicPrewiewName"><%= comic.name %></div>
  </a>
  <%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' }, class: "comicPreviewDestroy"%>
  <!-- <a href="<%=  %>" class="comicPreviewDestroy"><%= image_tag("delete.svg", size: "20x20") %></a> -->
</div>
