<%# @fonts = Font.all %>
<%# content_for :head do %>
  <%# @fonts.each do |f| %>
    <%#= '<plink href="' + f.link + '" rel="stylesheet">'%>
  <%# end %>
<%# end %>

<p>
  <strong>Name:</strong>
  <%= @comic.name %>
  <%= link_to 'Edit', edit_comic_path(@comic) %> |
  <%= link_to 'Back', comics_path %>
</p>

<nav>
  <%= link_to "Create figure", new_comic_figure_path(@comic) %>
  <%= link_to "Create bubble", new_comic_bubble_path(@comic) %>
  <%= link_to "Create frame", new_comic_frame_path(@comic) %>
  <%= link_to "Create image", new_comic_image_path(@comic) %>
  <%= link_to "Create speech", new_comic_speech_path(@comic) %> |
  <%= link_to "Add font", new_font_path %>
</nav>

<%= render @comic.figures %>
<%= render @comic.bubbles %>
<%= render @comic.speeches %>
<%= render @comic.frames %>
<%= render @comic.images %>

________________________

<%
  objects = []

  def push_things_to_array(things, array)
    things.all.each do |thing|
      if thing.z_index.nil?
        thing.z_index = 0
      end
      array.push([thing.z_index, (things.model_name.to_s + ' ' + thing.id.to_s)])
    end
    return array
  end

  objects = push_things_to_array(@comic.figures, objects)
  objects = push_things_to_array(@comic.speeches, objects)
  objects = push_things_to_array(@comic.images, objects)

  objects = objects.sort_by {|elem| elem[0]}
  layers_amount = objects.size
%>

<p><%= objects %> | All: <%= layers_amount %></p>
