<%# @fonts = Font.all %>
<%# content_for :head do %>
  <%# @fonts.each do |f| %>
    <%#= '<plink href="' + f.link + '" rel="stylesheet">'%>
  <%# end %>
<%# end %>

<p>
  <strong>Name:</strong>
  <%= @comic.name %>
  <%= link_to 'Edit', edit_comic_path(@comic) %> |
  <%= link_to 'Back', comics_path %>
</p>

<nav>
  <%= link_to "Create figure", new_comic_figure_path(@comic) %>
  <%= link_to "Create bubble", new_comic_bubble_path(@comic) %>
  <%= link_to "Create frame", new_comic_frame_path(@comic) %>
  <%= link_to "Create image", new_comic_image_path(@comic) %>
  <%= link_to "Create speech", new_comic_speech_path(@comic) %> |
  <%= link_to "Add font", new_font_path %>
</nav>

<%= render @comic.figures %>
<%= render @comic.bubbles %>
<%= render @comic.speeches %>
<%= render @comic.frames %>
<%= render @comic.images %>

________________________

<% objects = [] %>
<% @comic.figures.all.each do |f|%>
  <%
  if f.z_index.nil?
    f.z_index = 0
  end
  objects.push([f.z_index, ('figure ' + f.id.to_s)])
  %>
<% end %>

<%
  objects = objects.sort_by {|elem| elem[0]}
  layers_amount = objects.size
%>

<p><%= objects %> | All: <%= layers_amount %></p>
