<%= form_with(model: [@comic, @speech]) do |form| %>
  <% if @speech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speech.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @speech.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text%>
  </div>

  <div class="field">
    <%= form.label :x %>
    <%= form.number_field :x%>
  </div>

  <div class="field">
    <%= form.label :y %>
    <%= form.number_field :y%>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width%>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height%>
  </div>

  <div class="field">
    <%= form.label :font_id %>
    <%#= form.text_field :font_id %>
    <%= select("speech", "font_id", Font.all.collect { |a| [a.title, a.id] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= form.label :font_size %>
    <%= form.number_field :font_size%>
  </div>

  <!-- <div class="field">
    <%= form.label :font_style %>
    <%= form.text_field :font_style %>
    <%#= select("speeches", "font_style", Speech.all.collect {|s| [ s.name, s.id ] }, { include_blank: true }) %>
  </div> -->

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :background_color %>
    <%= form.text_field :background_color %>
  </div>

  <div class="field">
    <%= form.label :layer %>
    <%= form.number_field :z_index, in: 1..(@comic.figures.count + @comic.speeches.count + @comic.images.count) %>
    max value: <%= @comic.figures.count + @comic.speeches.count + @comic.images.count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
