<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @speech.text %>
</p>

<p>
  <strong>X:</strong>
  <%= @speech.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @speech.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @speech.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @speech.height %>
</p>

<p>
  <strong>Font family:</strong>
  <%= @speech.font_family %>
</p>

<p>
  <strong>Font size:</strong>
  <%= @speech.font_size %>
</p>

<p>
  <strong>Font style:</strong>
  <%= @speech.font_style %>
</p>

<p>
  <strong>Font color:</strong>
  <%= @speech.color %>
</p>

<p>
  <strong>Background color:</strong>
  <%= @speech.background_color %>
</p>

<p>
  <strong>font:</strong>
  <%= @speech.font.title %>
</p>

<%#= link_to 'Edit', edit_speech_path(@speech) %> |
<%#= link_to 'Back', speeches_path %>
