<%= form_with(model: [@comic, @frame]) do |form| %>
  <% if @frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frame.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :frame %>
  </div>

  <div class="field">
    <%= form.label :x %>
    <%= form.number_field :x %>
  </div>

  <div class="field">
    <%= form.label :y %>
    <%= form.number_field :y %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height %>
  </div>

  <div class="field">
    <%= form.label :border_width %>
    <%= form.number_field :border_width %>
  </div>

  <div class="field">
    <%= form.label :border_color %>
    <%= form.text_field :border_color %>
  </div>

  <div class="field">
    <%= form.label :background_color %>
    <%= form.text_field :background_color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
