<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @image.image %>
</p>

<p>
  <strong>X:</strong>
  <%= @image.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @image.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @image.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @image.height %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
