<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @font.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @font.link %>
</p>

<%= link_to 'Edit', edit_font_path(@font) %> |
<%= link_to 'Back', fonts_path %>
