<!DOCTYPE html>
<html>
  <head>
    <title>Inkie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%#= link_to 'Comics',   comics_url  %>
      <%#= link_to 'Bubbles',  bubbles_url  %>
      <%#= link_to 'Figures',  figures_url  %>
      <%#= link_to 'Frames',   frames_url  %>
      <%#= link_to 'Images',   images_url  %>
      <%#= link_to 'Speeches', speeches_url  %>
    </nav>

    <%= yield %>
  </body>
</html>
